<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/d19d28ad6a.js" crossorigin="anonymous"></script>
    <title>24/7</title>
</head>

<body>
    <div id="app">
        <div class="panel">
            <div class="top__panel">
                <div class="block"></div>
                <div class="top__wrapper">
                    <h1>24/7</h1>
                    <p>товары для Вас</p>
                </div>
            </div>
            <div class="nav">
                <div class="nav__wrapper">
                    <a @click="comp = 1" :class='{activeO: comp == 1, active: comp == 1}'><i class="fas fa-utensils"></i> Еда</a>
                    <a @click="comp = 2" :class='{activeR: comp == 2, active: comp == 2}'> <i class="fas fa-tools"></i> Инструменты</a>
                    <a @click="comp = 3" :class='{activeG: comp == 3, active: comp == 3}'> <i class="fas fa-box"></i> Прочее</a>
                </div>
                <div class="nav__buttons">
                    <div class='nav__btn'>
                        <div class="button"><i class="fas fa-long-arrow-alt-left"></i><p>Купить</p></div>
                    </div>
                    <div class='nav__btn'>
                        <div class="button"><i>ESC</i><p>Выйти</p></div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content__wrapper">


                    <div class="food__comp comp" v-if='comp == 1'>
                        <div class="food__card" v-for='(result, index) in products' :key='index' @click='lastObj = result' :class='{food__card__selected: lastObj == result}'>
                            <div class="bonus" :class='{water_type: result.type == "water"}'>{{'+' + result.bonus}} <i v-if='result.type == "food"' class="fas fa-utensils"></i> <i v-if='result.type == "water"' :class='{water_type: result.type == "water"}' class="fas fa-tint"></i></div>
                            <img :src=`./img/${result.name}.svg`>
                            <div class="price">{{result.price + '$'}}</div>
                            <p class='name'>{{result.name}}</p>
                            <div class="buttons">
                                <div class="buy"><button :class='{inActiveBTN: money < result.price}'
                                        :disabled='money < result.price' @click='buy(result)'>Купить</button></div>
                                <div class="num">
                                    <div class="minus num__btn" @click='lot(result, 0)'>-</div>
                                    <div class="number">{{result.length}}</div>
                                    <div class="plus num__btn" @click='lot(result, 1)'>+</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="food__comp comp" v-if='comp == 2' >
                        <div class="food__card" v-for='(result, index) in tools' :key='index' @click='lastObj = result' :class='{food__card__selected: lastObj == result}'>
                            <img :src=`./img/${result.name}.svg`>
                            <div class="price">{{result.price + '$'}}</div>
                            <p class='name'>{{result.name}}</p>
                            <div class="buttons">
                                <div class="buy"><button :class='{inActiveBTN: money < result.price}'
                                        :disabled='money < result.price' @click='buy(result)'>Купить</button></div>
                                <div class="num">
                                    <div class="minus num__btn" @click='lot(result, 0)'>-</div>
                                    <div class="number">{{result.length}}</div>
                                    <div class="plus num__btn" @click='lot(result, 1)'>+</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="food__comp comp" v-if='comp == 3' >
                        <div class="food__card" v-for='(result, index) in other' :key='index' @click='lastObj = result' :class='{food__card__selected: lastObj == result}'>
                            <img :src=`./img/${result.name}.svg`>
                            <div class="price">{{result.price + '$'}}</div>
                            <p class='name'>{{result.name}}</p>
                            <div class="buttons">
                                <div class="buy"><button :class='{inActiveBTN: money < result.price}'
                                        :disabled='money < result.price' @click='buy(result)'>Купить</button></div>
                                <div class="num">
                                    <div class="minus num__btn" @click='lot(result, 0)'>-</div>
                                    <div class="number">{{result.length}}</div>
                                    <div class="plus num__btn" @click='lot(result, 1)'>+</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src='./js.js'></script>
</body>

</html>